@import url("https://fonts.googleapis.com/css?family=Bangers|Lato&display=swap");
html {
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background: #cacaca;
  margin: 0;
}

h1 {
  color: black;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
}

.tile {
  background: #69aedb;
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s, -webkit-box-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), -ms-flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11);
  font-size: 20px;
  background-size: cover;
  background-position: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-shadow: 1px 1px 3px black;
}

.tile.tileButterfly {
  background-image: url("/images/butterfly.jpg");
  color: black;
  text-shadow: 1px 1px 3px white;
}

.tile.tileButterfly button {
  background: #7a00f4;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.tile.tileButterfly button:hover {
  background: transparent;
  color: black;
  text-shadow: 1px 1px 3px white;
}

.tile.tileFrog {
  background-image: url("/images/frog.jpg");
}

.tile.tileFrog button {
  background: yellow;
  color: black;
  text-shadow: 1px 1px 3px white;
}

.tile.tileFrog button:hover {
  background: transparent;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.tile.tileBat {
  background-image: url("/images/bat.jpg");
}

.tile.tileBat button {
  background: #a21108;
}

.tile.tileBat button:hover {
  background: transparent;
}

.tile.titleLadybug {
  background-image: url("/images/ladybug.jpg");
}

.tile.titleLadybug button {
  background: #568b8f;
}

.tile.titleLadybug button:hover {
  background: transparent;
}

.tile.titleBee {
  background-image: url("/images/bee.jpg");
}

.tile.titleBee button {
  background: #f3d89d;
  color: black;
  text-shadow: 1px 1px 3px white;
}

.tile.titleBee button:hover {
  background: transparent;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.tile.open {
  font-size: 40px;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.tile > * {
  margin: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tile > *:first-child {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.tile > *:last-child {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}

.open-active > *:first-child {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.open-active > *:last-child {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btnLifeCycle, .btnStart {
  width: auto;
  height: auto;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 20px;
  margin-bottom: 2rem;
  -webkit-box-shadow: 1px 1px 4px black;
          box-shadow: 1px 1px 4px black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 18px;
  text-shadow: 1px 1px 3px black;
  cursor: pointer;
}

.btnLifeCycle:focus, .btnStart:focus {
  outline: none;
}

.btnLifeCycle:hover, .btnStart:hover {
  background: transparent;
}

.btnLifeCycle.welcome-btn, .welcome-btn.btnStart {
  background: transparent;
}

.btnLifeCycle.welcome-btn:hover, .welcome-btn.btnStart:hover {
  background: #12424a;
}

.welcome-container {
  background: url("/images/welcome-bg.jpg") center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.speech {
  position: relative;
  top: 20%;
  left: 40%;
  margin: 0;
  width: 210px;
  height: 100px;
  background: white;
  border: 8px solid yellow;
  border-radius: 30px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 4px #888;
          box-shadow: 2px 2px 4px #888;
  color: black;
  text-shadow: 1px 1px 3px lightgray;
  font-size: 1.48rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.speech:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 100px;
  border: 25px solid;
  border-color: yellow transparent transparent yellow;
}

.speech:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 100px;
  border: 15px solid;
  border-color: #fff transparent transparent #fff;
}

.speech.top-right {
  position: relative;
  top: 42%;
  left: 44%;
  width: 280px;
  height: 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.2rem;
  padding: 15px 10px;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.speech.top-right.active {
  opacity: 0;
}

.speech.top-right:before {
  top: -50px;
  -webkit-transform: rotateY(180deg) rotateX(180deg);
          transform: rotateY(180deg) rotateX(180deg);
  left: 182px;
}

.speech.top-right:after {
  top: -29px;
  -webkit-transform: rotateY(180deg) rotateX(180deg);
          transform: rotateY(180deg) rotateX(180deg);
  left: 194px;
}

.btnStart {
  color: black;
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #7698ef;
  color: white;
  text-shadow: none;
  width: auto;
  height: auto;
  padding: 10px 20px;
}

.btnStart:hover {
  background: transparent;
}

.animal {
  width: 900px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.animal h1 {
  text-align: center;
}

.animal p {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.btnNav {
  color: black;
  text-shadow: 1px 1px 3px white;
  margin: 0 3px;
}

.btnNav[disabled] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #c7c5c5;
  opacity: 0.3;
}

.btnNav[disabled]:hover {
  background: #c7c5c5;
  cursor: auto;
}

.btnNav.left {
  margin-left: 10rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btnNav.left:active {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btnNav.right {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-right: 10rem;
}

.btnNav.right:active {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.imgContainer {
  width: 50vw;
  height: 45vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cycleImg {
  display: block;
  width: 40vw;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0 auto;
  -webkit-transition: opacity 300 ease-in-out;
  transition: opacity 300 ease-in-out;
}

.btnContainer {
  width: 100vw;
  position: fixed;
  left: 50%;
  bottom: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

figure {
  margin-top: 0;
}

figcaption {
  text-align: center;
  background-color: rgba(79, 44, 16, 0.6);
  color: white;
  width: 40vw;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 7px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}

.bangersFont {
  font-family: "Bangers", cursive;
  color: white;
  text-shadow: 2px 2px 2px black;
  letter-spacing: 2.5px;
}

.notFound {
  text-align: center;
  margin-top: 5rem;
}

.animal-enter {
  position: absolute;
  top: 0;
  opacity: 0.01;
  -webkit-transform: translateY(0%) scale(0.01);
          transform: translateY(0%) scale(0.01);
}

.animal-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0%) scale(1);
          transform: translateY(0%) scale(1);
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}

.animal-exit {
  opacity: 1;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.animal-exit-active {
  opacity: 0;
  -webkit-transform: scale(4);
          transform: scale(4);
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}

@media (max-width: 1400px) {
  .btnStart {
    margin-bottom: -10px;
  }
  figcaption {
    max-width: 500px;
  }
  .cycleImg {
    max-width: 500px;
  }
}
/*# sourceMappingURL=style.css.map */